[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group otherTeam-test-project-admins
	read = group otherTeam-test-project-admins
	create = group otherTeam-test-project-admins
	createTag = group otherTeam-test-project-admins
	createSignedTag = group otherTeam-test-project-admins
	push = group otherTeam-test-project-admins
	pushMerge = group otherTeam-test-project-admins
[submit]
	action = fast forward only
	mergeContent = false
[access "refs/for/*"]
	pushMerge = group otherTeam-test-project-admins
	owner = group otherTeam-test-project-admins
	read = group otherTeam-test-project-admins
	abandon = group otherTeam-test-project-admins
[access "refs/for/refs/heads/*"]
	owner = group otherTeam-test-project-admins
	read = group otherTeam-test-project-admins
	pushMerge = group otherTeam-test-project-admins
[access "refs/heads/*"]
	owner = group otherTeam-test-project-admins
	read = group otherTeam-test-project-admins
	push = group otherTeam-test-project-admins
	pushMerge = group otherTeam-test-project-admins
	submit = group otherTeam-test-project-admins
[access "refs/tags/*"]
	read = group otherTeam-test-project-admins
	createTag = group otherTeam-test-project-admins
[plugin "eiffel"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
